﻿@{
    ViewBag.Title = "Please check Your email";
}
<h2></h2>
<p class="text-info">
    Please check your email and confirm your email address.
</p>
@*<p class="text-danger">
    For DEMO only: You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
    Please change this code to register an email service in IdentityConfig to send an email.
</p>*@
