﻿@using Kendo.Mvc.UI

@(Html.Kendo().Grid<MVC5Project.Web.Models.MeasurementBatchViewModel>()
        .Name("grid")

        .Columns(columns =>
        {
            columns.Bound(c => c.Name);
            columns.Bound(c => c.ExcerciseName);
            columns.Bound(c => c.ExcerciseValue).Width(90).Filterable(false);
           
            columns.Command(command => { command.Edit();  }).Width(160);

        })
          .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="toolbar">
                <label class="category-label" for="category">Please Select Options:</label>
                
                @(Html.Kendo().DropDownList()
                            .Name("categories")
                            .OptionLabel("All")
                                    .DataTextField("Datetime1")
                            .DataValueField("ExerciseBatchId")
                            .AutoBind(false)
                        //.Events(e => e.Change("categoriesChange"))
                            .DataSource(ds =>
                            {
                                ds.Read("GettingExcerciseBatches", "API");
                            })
                )
                @(Html.Kendo().DropDownList()
                            .Name("Excecises")
                            .OptionLabel("All")
                                            .DataTextField("ExerciseName")
                                            .DataValueField("ExerciseID")
                            .AutoBind(false)
                        //.Events(e => e.Change("categoriesChange"))
                            .DataSource(ds =>
                            {
                                ds.Read("GetAllExcercise", "API");
                            })
                )
                <button type="button" id="FilterId" value="Filter" class="btn btn-default">Filter</button>
            </div>
        </text>);
    })
                                           .HtmlAttributes(new { style = "height: 380px;" })
                                           .Scrollable()

                                           .Sortable()
                                           .Editable(editable => editable.Mode(GridEditMode.InLine))
                                           .Pageable(pageable => pageable
                                           .Refresh(true)
                                           .PageSizes(true)
                                           .ButtonCount(5))
                                           //.Events(events => events.DataBound("onDataBound"))
                                           //.ClientDetailTemplateId("template1")
                                                              .DataSource(dataSource => dataSource
                                                               .Ajax()

                                                               .Model(model =>
                                                                                                           {

                                                                                                               model.Field(p => p.Id).Editable(false);
                                                                                                               model.Field(p => p.Name).Editable(false);
                                                                                                               model.Field(p => p.ExcerciseName).Editable(false);
                                                                                                               model.Id("Id");
                                                                                                           })
                                                                                                                                                                                                      .Read(read => read.Action("MeasurementsRead", "API"))
                                                                                                                                                                               //.Destroy(update => update.Action("EditingPopup_Destroy", "API"))
                                                                                                                                                                              .Update(update => update.Action("EditingPopup_Update", "API"))
                                                                                                           //.Events(e => e.RequestEnd("force_update"))


                                                                                                                                                                                                                                )
)
<script>
    $("#FilterId").on("click", function () {
        debugger;
      
        var Excecises = $("#Excecises").data("kendoDropDownList").value();
        var ExcerciseBatch = $("#categories").data("kendoDropDownList").value();
        var filter = new Array();
        if (Excecises) {
            filter.push({ field: "ExcerciseID", operator: "eq", value: parseInt(Excecises) });
        }
        if (ExcerciseBatch) {
            filter.push({ field: "ExcerciseBatchId", operator: "eq", value: parseInt(ExcerciseBatch) });
        }
        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.filter(filter);
        $("#grid").data("kendoGrid").dataSource.read();

    });
</script>