﻿
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/JSApi.js"></script>
<div data-ng-app="ManageApp">
    <div data-ng-controller="ApiDataController">
        <div class="row">

           
              <div class="col-md-4"><label>  User Name:</label></div><div class="col-md-4">  <input class="form-control input" type="text" id="txtUserName" /></div><div class="col-md-2">&nbsp;</div></div>

              <div class="row">  <div class="col-md-4"> <label>Password: </label></div><div class="col-md-4">  <input class="form-control input" type="password" id="txtPwd" /></div><div class="col-md-2">&nbsp;</div></div>
             <div class="row">   <div class="col-md-4"> <label>Confirm Password:</label> </div> <div class="col-md-4"> <input class="form-control input" type="password" id="txtPwd1" /></div><div class="col-md-2">&nbsp;</div></div>
              
         <div class="row">
                <div class="col-md-6"> 
                <input type="button" value="Login" data-ng-click="login()" /></div><div class="col-md-4">&nbsp;</div></div>
            
       
    </div>
</div>
