﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="front-page no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Physmodo | A Revolutionary Physical Therapy Platform</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="~/Scripts/js/jquery.min.js"></script>
    @*<script src="/Scripts/jquery-2.1.0.js"></script>*@

    <script src="~/Scripts/js/TweenMax.min.js"></script>
    <script src="~/Scripts/js/jquery.scrollmagic.js"></script>

    <script src="~/Scripts/js/ScrollToPlugin.min.js"></script>
    <script src="~/Scripts/js/selectnav.min.js"></script>

    <script src="~/Scripts/js/ready.js"></script>
    <script src="~/Scripts/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    @*<script src="~/Scripts/js/physmodo.js"></script>*@


    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-glyphicons.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/app-backgrounds.css" rel="stylesheet" />


    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Scripts/jtable/themes/metro/lightgray/jtable.css" rel="stylesheet" />
    @*<link href="/Scripts/jtable/themes/metro/blue/jtable.css" rel="stylesheet" type="text/css">*@
    <script src="~/Scripts/jquery-ui-1.9.2.js"></script>
    <script src="~/Scripts/jtable/jquery.jtable.js"></script>
    <script src="~/Scripts/jquery.validationEngine.js"></script>
    <script src="~/Scripts/jquery.validationEngine-en.js"></script>
    <link href="~/Content/validationEngine.jquery.css" rel="stylesheet" />
    @*@Styles.Render("~/bundles/css")*@

    @*<link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/responsive.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link href="css/bootstrap-glyphicons.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/app-backgrounds.css">*@
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,600italic,700' rel='stylesheet' type='text/css'>
    <script>
        //domready(function(){
        //	selectnav('nav', {
        //	label: '--Navigation--'});
        //	prettyPrint()
        //})

    </script>
    <style>
        #btn_btn_default {
            margin-right: -56%;
            margin-bottom: 1%;
        }

        #Center_Part {
            width: 19%;
            float: left;
            text-align: left;
        }

        #Right_part {
            float: right;
            width: 80%;
        }





        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 136px;
            padding: 5px 0;
            margin: 2px 0 0;
            list-style: none;
            font-size: 14px;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
            background-clip: padding-box;
        }

            .dropdown-menu li {
                opacity: 1 !important;
            }

            .dropdown-menu > li > a {
                color: white !important;
            }
    </style>



</head>
<body style="overflow-y:auto;">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="scroll_wrapper" style="overflow-y:auto;" id='scroll_wrapper'>
        <div class="bg1-container bg1-intro">
            <div class="bg1-background"></div>
            <div class="navbar navbar-inverse navbar-fixed-top" style="background: none; border: none;">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                Hello @User.Identity.GetUserName()!
                                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", style = "color:black; padding-right:10px" })*@
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color:black; padding-right:20px">Log off</a></li>
                        </ul>
                    }
                }
                @*<form action="/Account/LogOff" class="navbar-right" id="logoutForm" method="post">
                        <input name="__RequestVerificationToken" type="hidden" value="-w-0WZXgJ3S1q4PVwNRZ4O95emYLeQYFrf0idcLgjX57KlDIpddfc2r5cU3SwIcxy_8RdDWzoWlms3ZE1UE-U-8pJf6OmLUv6Gm6IIyAB42GP_mzNhzgnHdFMVcQvtDOGhdAyUsZHngeR8W9wLxsWA2">        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/Manage" title="Manage" style="color:black; padding-right:10px">Hello @User.Identity.GetUserName()!</a>
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color:black; padding-right:20px">Log off</a></li>
                        </ul>
                    </form>*@
            </div>
            <div class="row">
                <div class="col-md-2 left-logo">
                    <a href="/">
                        <img src="~/Content/images/physmodo-logo.png" class="physmodo-logo img-responsive">
                    </a>

                </div>
                <div class="col-md-12 physmodo-logo">
                    <h1>A Revolutionary Physical Therapy Platform</h1>
                </div>
            </div>
            <div class="row" style="margin-top:-30px;">
                <div class="col-md-2" style="width: 20%;">

                    <div class="left-sidebar">
                        <ul class="" id="nav">

                            <li>@Html.ActionLink("1.Login", "Login", "ApiData")</li>
                            <li>@Html.ActionLink("2.User Info", "UserInfo", "ApiData")</li>
                            <li>@Html.ActionLink("3.Logout", "logout", "ApiData")</li>
                            <li>@Html.ActionLink("4.Manage Information", "ManageInfo", "ApiData")</li>
                            <li>@Html.ActionLink("5.Register", "Register", "ApiData")</li>
                            <li>@Html.ActionLink("6.Register External", "RegisterExternal", "ApiData")</li>
                            <li>@Html.ActionLink("7.Change Password", "ChangePassword", "ApiData")</li>
                            <li>@Html.ActionLink("8.Set Password", "SetPassword", "ApiData")</li>

                            @* <li><a data-ng-click="getPlayer()"  >GetAllTeamPlayer</a></li>*@
                            <li>@Html.ActionLink("9.Get All Exercises", "AllExercises", "ApiData")</li>
                            <li>@Html.ActionLink("10.Exercises Batches", "AExercisesBatches", "ApiData")</li>
                            <li>@Html.ActionLink("11.Data Organization", "DataOrg", "ApiData")</li>
                            <li>@Html.ActionLink("12.Post Exercise", "PostExercise", "ApiData")</li>
                            <li>@Html.ActionLink("13.Get Exercise", "GetExercise", "ApiData")</li>
                            <li>@Html.ActionLink("14.Put Exercise", "PutExercise", "ApiData")</li>
                            <li>@Html.ActionLink("15.Delete Exercise", "DeletExercise", "ApiData")</li>
                            <li>@Html.ActionLink("16.Player Measurement", "PlayerMeasurement", "ApiData")</li>
                            <li>@Html.ActionLink("17.Get Player", "GetPlayer", "ApiData")</li>
                            <li>@Html.ActionLink("18.GetAllTeamPlayer", "ViewPlayers", "ApiData")</li>
                            <li>@Html.ActionLink("19.Get Player Exercise", "PlayerExercises", "ApiData")</li>
                            <li>@Html.ActionLink("20.Get Player Score", "GetPlayerScrores", "ApiData")</li>
                            <li>@Html.ActionLink("21.Put Player Score", "PutPlayerScore", "ApiData")</li>

                            <li>@Html.ActionLink("22.PutPlayerRangeOfMotion", "PutPlayerRangeOfMotion", "ApiData")</li>
                            <li>@Html.ActionLink("23.Get UserId", "GetUserId", "ApiData")</li>
                            <li>@Html.ActionLink("24.Get AzureStorage", "GetAzureStorage", "ApiData")</li>
                            <li>@Html.ActionLink("25.Get OrganizationName", "GetOrganizationName", "ApiData")</li>
                            <li>@Html.ActionLink("26.Get TrainerId", "GetTrainerID", "ApiData")</li>
                            <li>@Html.ActionLink("27.Get Data", "GetData", "ApiData")</li>
                            <li>@Html.ActionLink("28.Put Data", "PutData", "ApiData")</li>
                            <li>@Html.ActionLink("29.Get Values", "GetValues", "ApiData")</li>
                            <li>@Html.ActionLink("30.Post Value", "PostValue", "ApiData")</li>
                            <li>@Html.ActionLink("31.Put Value", "PutValue", "ApiData")</li>
                            <li>@Html.ActionLink("32.Delete Value", "DeleteValue", "ApiData")</li>
                            <li>@Html.ActionLink("33.Remove Login", "RemoveLogin", "ApiData")</li>

                            @*@Html.Partial("_LoginPartial")*@
                        </ul>

                    </div>


                </div>

                <div class="col-md-12" style="float: left; width: 75%;">
                    <div class="HeroArea">
                        @RenderBody()

                    </div>
                </div>
            </div>
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">

                            <img class="logo" src="~/Content/images/footer-logo.png">

                            <p><span>copyright Physmodo, Inc.</span> </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="http://physmodo.com/wp-content/themes/twentytwelve-child/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

        @*<script src="js/vendor/bootstrap.min.js"></script>*@
        <script src="~/Scripts/js/bootstrap.min.js"></script>>

        <script src="http://physmodo.com/wp-content/themes/twentytwelve-child/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function (b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
                e = o.createElement(i); r = o.getElementsByTagName(i)[0];
                e.src = 'http://www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
            ga('create', 'UA-XXXXX-X'); ga('send', 'pageview');
        </script>

    </div>

    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>


    @RenderSection("scripts", required: false)
    <link href="@Url.Content("~/Content/kendo/2014.2.1008/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.2.1008/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.2.1008/kendo.datavipciz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.2.1008/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.2.1008/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    @*<script src="@Url.Content("~/Scripts/kendo/2014.2.1008/jquery.min.js")"></script>*@
    <script src="@Url.Content("~/Scripts/kendo/2014.2.1008/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.2.1008/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</body>

</html>
