﻿@using MvcCheckBoxList.Model
@model MVC5Project.Web.Models.PlayerModel
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Manage Customer";
    
    if (ViewData["postedCustomerTypes"] != null)
    {
        Model.PostedExcercises = ViewData["postedCustomerTypes"] as List<string>;
    }
    //Model.LoadEditData();
}

@using (Html.BeginForm("Update", "Team", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @*<legend id="MainLegend">Player Exercise </legend>*@
    <div class="editor-label">
    @*@Html.LabelFor(c => c.Name)*@
    </div>
<div class="editor-field">
    @*@Html.TextBoxFor(c => c.Name)
    @Html.ValidationMessageFor(c => c.Name)*@
    <span id="undos" style="display: block; width: 50%;" class="btn btn-default">Create New Exercise Batch for this player</span>
   
</div>

   <div class="editor-label">
    @Html.Label("Exercise Types")
</div>
<div class="editor-field">
    @Html.CheckBoxListFor(model => model.PostedExcercises, model => model.AvailableExcercises, model => model.ExcerciseId, model => model.ExcerciseName, model => model.Excercises, Position.Vertical)
    @Html.ValidationMessageFor(model => model.PostedExcercises)
</div>
}
<script>
    $("#undos").on("click", function () {
        debugger;
        var tableVal = [];
        $('input[name="PostedExcercises"]:checked').each(function () {
            //alert(this.value)
            tableVal.push(this.value);
        });
        var ss = JSON.stringify(tableVal);
        if (tableVal.length > 0 ) {
            $.ajax({
                type: "POST",
                url: "/Team/Measurement",
                contenttype: "application/json",
                data: { ExerciseID: ss },
                beforeSend: function () {
                    $('#ActivityProcessing').css('display', 'block');
                },
                success: function (data) {
                    debugger;
                    if (data.success == true) {
                        var PopupWindow = $("#window").data("kendoWindow");
                        PopupWindow.close();
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    else {

                    }
                }
            });
        }
        else {
            alert("Please select atleast one Excercise");
            return;
        }


    });
</script>