﻿@model MVC5Project.Web.Models.PlayerInfoViewModel

@using Kendo.Mvc.UI

@Html.HiddenFor(model => model.PlayerId)

<div class="editor-label">
    @Html.LabelFor(model => model.PlayerFirstName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PlayerFirstName)
    @Html.ValidationMessageFor(model => model.PlayerFirstName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PlayerLastName)
   
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PlayerLastName)
    @Html.ValidationMessageFor(model => model.PlayerLastName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.OrgStartDate)
</div>
<div class="editor-field">
    @Html.Kendo().DatePickerFor(model => model.OrgStartDate)
    @Html.ValidationMessageFor(model => model.OrgStartDate)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.DateOfBirth)
</div>
<div class="editor-field">
    @Html.Kendo().DatePickerFor(model => model.DateOfBirth)
    @Html.ValidationMessageFor(model => model.DateOfBirth)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PlayerEmailAddress)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PlayerEmailAddress)
    @Html.ValidationMessageFor(model => model.PlayerEmailAddress)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.PlayerPhoneNumber)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PlayerPhoneNumber)
    @Html.ValidationMessageFor(model => model.PlayerPhoneNumber)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PlayerNumber)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PlayerNumber)
    @Html.ValidationMessageFor(model => model.PlayerNumber)
</div>