﻿
@{
    ViewBag.Title = "GetData";
}

<h2>GetData</h2>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/JSApi.js"></script>
<div data-ng-app="ManageApp">
    <div data-ng-controller="ApiDataController">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Get Data</h3>
                
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-3">Id </div>
                        <div class="col-md-4"><input type="text" id="txtId" /></div>
                      @* <div class="col-md-4"><label>Trainer Id: </label>   {{trnDetail}}</div>*@
                    </div>
                </div>
            </div>           
            
             <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3"></div> <div class="col-md-4"><input type="button" value="Get Data" data-ng-click="dataGet()" /> </div>
                                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
