/* Default Layout: 992px.  */
.column  {width:800px;}
.selectnav {display:none}
#nav {display:block}
.video_responsive {width:800px;height:600px}
.header h1 {font-size: 35px;
line-height: 44px;
padding: 0 58px;}

.left-logo{
	height: 110px;
	width: 200px;
	position:fixed;
	z-index:9999;
	margin:5px;
	}
.left-sidebar
	{
		height: 100%;
		margin-top:120px;
		margin-left:0px;
		width: 150px;
		position:fixed;
		z-index:9999;
    position:fixed;
    opacity:.9;
    -webkit-transition: opacity .9s ease-out .1s;
    -moz-transition: opacity .9s ease-out .1s;
    -o-transition: opacity .9s ease-out .1s;
    transition: opacity .9s ease-out .1s;
	}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
.column  {width:750px;}
.selectnav {display:none}
#nav {display:block}
.video_responsive {width:750px;height:563px}
.header h1 {font-size: 25px; line-height: 34px; padding: 0;}

.left-logo{
	height: 110px;
	width: 200px;
	position:fixed;
	z-index:9999;
	margin:5px;
	}
.left-sidebar
	{
		height: 100%;
		margin-top:120px;
		margin-left:0px;
		width: 150px;
		position:fixed;
		z-index:9999;
    position:fixed;
    opacity:.9;
    -webkit-transition: opacity .9s ease-out .1s;
    -moz-transition: opacity .9s ease-out .1s;
    -o-transition: opacity .9s ease-out .1s;
    transition: opacity .9s ease-out .1s;
	}
}



/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
.column  {width:300px;}
.selectnav {display:block}
#nav {display:none}
.video_responsive {width:300px;height:225px}
.header h1 {font-size: 25px; line-height: 34px; padding: 0;}
.left-logo{
	height: 110px;
	width: 200px;
	position:relative;
	z-index:9999;
	margin:5px;
	}
.left-sidebar
	{
		height: 100%;
		margin-top:120px;
		margin-left:0px;
		width: 150px;
		position:fixed;
		z-index:9999;
    position:relative;
    opacity:.9;
    -webkit-transition: opacity .9s ease-out .1s;
    -moz-transition: opacity .9s ease-out .1s;
    -o-transition: opacity .9s ease-out .1s;
    transition: opacity .9s ease-out .1s;
	}
}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
.column  {width:450px;}
.selectnav {display:block}
#nav {display:none}
.video_responsive {width:450px;height:338px}
.header h1 {font-size: 25px; line-height: 34px; padding: 0;}
.left-logo{
	height: 110px;
	width: 200px;
	position:relative;
	z-index:9999;
	margin:5px;
	}
.left-sidebar
	{
		height: 100%;
		margin-top:120px;
		margin-left:0px;
		width: 150px;
		position:fixed;
		z-index:9999;
    position:relative;
    opacity:.9;
    -webkit-transition: opacity .9s ease-out .1s;
    -moz-transition: opacity .9s ease-out .1s;
    -o-transition: opacity .9s ease-out .1s;
    transition: opacity .9s ease-out .1s;
	}
}
