﻿@using Microsoft.AspNet.Identity
@using MVC5Project.Domain.Model
@model MVC5Project.Web.Models.UserViewModel
@{


    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>*@

<div class="row">
    <div class="col-md-10">
        @if (ViewBag.data != "" && ViewBag.data != null)
        {
            var data = ViewBag.data;
            <h3>Welcome @Model.combinename @data</h3>
        }
        else
        {
            var data = "";
            <h3>Welcome @Model.combinename @data</h3>
        }


        @*<label class="col-sm-2 control-label">@Model.combinename</label>*@
        <p>


            @if (Model.Filepath != "" && Model.Filepath != null)
            {
                <img src="/uploads/picture/@Model.Filepath" id="Imageid" height="200" width="200" />
            }
            else
            {
                <img src="~/uploads/picture/download.jpg" id="Imageid" height="200" width="200" />
            }

        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>*@
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
    @*<div class="col-md-4">
            @Html.ActionLink("Reset Password", "Manage", "Account")
        </div>*@
</div>