﻿@model MVC5Project.Web.Models.ClientViewModel
@{
    ViewBag.Title = "NewClient";
}
<h2>New Client</h2>
@using (Html.BeginForm("NewClient", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(m => m.email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OrgID, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @*@Html.TextBoxFor(m => m.OrgID, new { @class = "form-control" })*@
            @Html.DropDownListFor(m => m.OrgID, (IEnumerable<SelectListItem>)ViewBag.organization, "Select Organization", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OrgID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.firstname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.firstname, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.firstname)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.lastname, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.lastname, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.lastname)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.address, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.address, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.address)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.city, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.city, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.city)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.state, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @*@Html.TextBoxFor(m => m.OrgID, new { @class = "form-control" })*@
            @Html.DropDownListFor(m => m.state, (IEnumerable<SelectListItem>)ViewBag.states, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.state)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.zip, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.zip, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.zip)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.phone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.phone, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.phone)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.primarycontact, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.primarycontact, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.primarycontact)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

