﻿@model IEnumerable<MVC5Project.Web.Models.UserViewModel>
@{
    ViewBag.Title = "SystemAdminUsers";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<style>
    .ui-dialog.ui-widget {
width: 314px !important;
top: 100px !important;
}
    .jtable-input-label{width:143px !important;}
    .ui-dialog .formError .formErrorContent {
z-index: 999999;
}
    .ui-dialog .formError {
z-index: 999999;
}
     select ,option{
        color:black;
    }
</style>
<h2></h2>
<div id="StudentTableContainer"></div>
@*@Html.ActionLink("Add New User", "AddNewUser", "Home")*@
@*<table class="table table-striped">
        <tr>
            <th>Client Name</th>
            <th>Email</th>
            <th>City</th>
            <th>Actions</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.combinename</td>
                <td>@item.email</td>
                <td>@item.city</td>
                <td>@Html.ActionLink("Modify", "ModifyOrganization", "Home", new { id = item.UserId }, null)</td>
            </tr>
        }
    </table>*@
<div id="pop1">
    <script type="text/javascript">

        $(document).ready(function () {
            var jq = $.noConflict();
            $('#StudentTableContainer').jtable({
                title: 'Users List',
                paging: true, //Enable paging
                pageSize: 10, //Set page size (default: 10)
                sorting: true, //Enable sorting
                defaultSorting: 'Name ASC', //Set default sorting
                actions: {
                    listAction: '/Home/SystemuseradminList',
                    deleteAction: '/Home/DeleteClient',
                    updateAction: '/Home/EditClient',
                    createAction: '/Home/AddClient'
                },
                fields: {
                    ID: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    firstname: {
                        title: 'First Name'

                    },
                    lastname: {
                        title: 'Last Name',
                        list: false
                    },
                    email: {
                        title: 'Email',
                        edit: false,
                        create: true,
                        list: true
                    },

                    city: {
                        title: 'City'
                    },
                    state: {
                        title: 'State',
                        width: '12%',
                        options: '/Home/GetStates'
                    },
                    address: {
                        title: 'Address',
                        list: false
                    },
                    RoleId: {
                        title: 'Role',
                        width: '12%',
                        options: '/Home/GetRolesForAdmin'
                    },
                    OrgID: {
                        title: 'Organization',
                        width: '12%',
                        options: '/Home/GetOrganizations'
                    },
                    MyButton: {
                        title: 'Add Player',
                        //width: '5%',
                        display: function (data) {
                            debugger;
                            return '<a href="/Team/TeamPlayer?ID=' + data.record.ID + '" class="btn btn-default" style="padding:2px 12px">Add Player</a>';
                            //return '<button type="button" id="ApproveId_' + data.record.ID + '" onclick="/Team/TeamPlayer?ID=' + data.record.ID + '" class="btn btn-default" style="padding:2px 12px">Approve</button>';

                        }
                    },
                    zip: {
                        title: 'Zip',
                        list: false
                    },
                    phone: {
                        title: 'Phone',
                        list: false
                    },
                    primarycontact: {
                        title: 'Primary Contact',
                        list: false
                    },
                    Password: {
                        title: 'Password',
                        type: 'password',
                        list: false,
                        edit: false
                    },
                    ConfirmPassword: {
                        title: 'Confirm Password',
                        type: 'password',
                        list: false,
                        edit: false
                    }
                   
                },

                
                //Initialize validation logic when a form is created
                formCreated: function (event, data) {
                    data.form.find('input[name="firstname"]').addClass('validate[required]');
                    data.form.find('input[name="lastname"]').addClass('validate[required]');
                    data.form.find('input[name="email"]').addClass('validate[required,custom[email]]');
                    data.form.find('input[name="Password"]').addClass('validate[required]');
                    //validate[required,equals[password]]
                    data.form.find('input[name="ConfirmPassword"]').addClass('validate[required,equals[Edit-Password]]')
                    data.form.find('input[name="BirthDate"]').addClass('validate[required,custom[date]]');
                    data.form.find('input[name="Education"]').addClass('validate[required]');
                    data.form.validationEngine();
                },
                //Validate form when it is being submitted
                formSubmitting: function (event, data) {
                    return data.form.validationEngine('validate');
                },//Dispose validation logic when form is closed
                formClosed: function (event, data) {
                    data.form.validationEngine('hide');
                    data.form.validationEngine('detach');
                }
            });

            //Load student list from server
            $('#StudentTableContainer').jtable('load');
        });
        function Editdata(ID) {
            debugger;
            $.ajax({
                url: "/Team/TeamPlayer",
                type: 'get',
                data: { ID: ID },
                dataType: 'json',
                success: function (data) {
                    if (data.Result == "OK") {
                        $("#ApproveId_" + ID).css("display", "none");
                    }
                    // $('#StudentTableContainer').jtable('load');
                    //alert('Record Saved Successfully');
                }
            });

        }
        function deletedata(ID) {
            debugger;
            $.ajax({
                url: "/Home/Deny",
                type: 'post',
                data: { ID: ID },
                dataType: 'json',
                success: function (data) {
                    $('#StudentTableContainer').jtable('load');
                    //alert('Record Saved Successfully');
                }
            });
        }
    </script>
</div>