﻿
@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/JSApi.js"></script>
<div data-ng-app="ManageApp">
    <div data-ng-controller="ApiDataController">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Change Password</h3>

            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-3">Old Password</div>
                        <div class="col-md-4"><input type="password" id="txtOldPwd" /></div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-3">New Password</div>
                        <div class="col-md-4">
                            <input type="password" id="txtNewPwd" />
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-3">Confirm Password</div>
                        <div class="col-md-4">
                            <input type="password" id="txtCnfrmPwd" />
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3"></div> <div class="col-md-4"><input type="button" value="Change Password" data-ng-click="passwordChange()" /> </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
