﻿
@{
    ViewBag.Title = "DataOrg";
}

<h2>DataOrg</h2>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/JSApi.js"></script>
<input type="hidden" value="webdev@physmodo.com" id="hidUser" />
<div data-ng-app="ManageApp">
    <div data-ng-controller="ApiDataController">

        <input title="User Name" type="text" id="txtUsername" />
        <input type="button" data-ng-click="DataOrginit()" value="Search" />
        <table class="table table-bordered table-hover" style="width:800px">

            <tr>
                <td>
                    <div>
                        Organization ID :{{orgDetail.OrgnizationId}}<br />
                        First Name :{{orgDetail.FirstName}}<br />
                        Last Name :{{orgDetail.LastName}}
                    </div>
                </td>
                <td>
            </tr>
        </table>

    </div>
</div>
