﻿
@{
    ViewBag.Title = "DeletExercise";
}

<h2>DeletExercise</h2>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/JSApi.js"></script>
<div data-ng-app="ManageApp">
    <div data-ng-controller="ApiDataController">
        <input title="Exercise Id" type="text" id="txtExerciseId" />
        <input type="button" data-ng-click="DelExerciseID()" value="Delete" />

    </div>
</div>
