﻿
@{
    ViewBag.Title = "GetExercise";
}

<h2>GetExercise</h2>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/JSApi.js"></script>
<div data-ng-app="ManageApp">
    <div data-ng-controller="ApiDataController">
        <input title="Exercise Id" type="text" id="txtExerciseId" />
        <input type="button" data-ng-click="GetExerciseID()" value="Search" />
        <div>
            Exercise ID :{{exer.ExerciseID}}<br />
            Exercise Name :{{exer.ExerciseName}}<br />
            Exercise Name :{{exer.ExerciseName}}
        </div>
    </div>
</div>
