﻿
@{
    ViewBag.Title = "GetOrganizationName";
}

<h2>GetOrganizationName</h2>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/JSApi.js"></script>
<div data-ng-app="ManageApp">
    <div data-ng-controller="ApiDataController">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Get Azure Storage</h3>

            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-3">Org ID </div>
                        <div class="col-md-4"><input type="text" id="txtOrgId" /></div>
                        <div class="col-md-4"><label>Organization Name: </label>{{orgDetail}}</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3"></div> <div class="col-md-4"><input type="button" value="Get Organization Name" data-ng-click="GetOrgName()" /> </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
