﻿
@{
    ViewBag.Title = "PlayerExercises";
}

<h2>PlayerExercises</h2>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/JSApi.js"></script>
<input type="hidden" id="PlayerId" value="1049" />
<div data-ng-app="ManageApp">
    <div data-ng-controller="ApiDataController">
        <div data-ng-init="playerExerciseinit()">

            <table class="table table-bordered table-hover" style="width:800px">
                <tr>
                    <th>Player Id</th>
                    <th>Exercise Id</th>

                </tr>
                <tr data-ng-repeat="exercise in exercises">
                    <td>{{exercise.PlayerId}}</td>
                    <td>{{exercise.ExcerciseId}}</td>


                </tr>
            </table>
        </div>
    </div>
</div>