﻿
@{
    ViewBag.Title = "PlayerMeasurement";
}

<h2>PlayerMeasurement</h2>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/JSApi.js"></script>
<div data-ng-app="ManageApp">
    <div data-ng-controller="ApiDataController">
        Org Id: <input title="Organization Id" type="text" id="txtOrgId" />
        Exercise Id: <input title="Exercise Id" type="text" id="txtExerciseId" />
        Batch Id: <input title="Batch Id" type="text" id="txtBatchId" />
        <input type="button" data-ng-click="GetPlayerMeasurement()" value="Search" />
        <div>
            <table class="table table-bordered table-hover" style="width:800px">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Player Id</th>
                    <th>OrgID</th>
                    <th>Exercise Batch Id </th>
                    <th>Exercise Id</th>
                    <th>Exercise Value</th>
                    <th>Organization Name</th>
                    <th>Exercise Name</th>


                </tr>
                <tr data-ng-repeat="plyrMsr in plyrMsrs">
                    <td>{{plyrMsr.Id}}</td>
                    <td>{{plyrMsr.Name}}</td>
                    <td>{{plyrMsr.PlayerId}}</td>
                    <td>{{plyrMsr.OrgID}}</td>
                    <td>{{plyrMsr.ExerciseBatchId}}</td>
                    <td>{{plyrMsr.ExerciseID}}</td>
                    <td>{{plyrMsr.ExerciseValue}}</td>
                    <td>{{plyrMsr.OrganizationName}}</td>
                    <td>{{plyrMsr.ExerciseName}}</td>
                </tr>
            </table>


        </div>
    </div>
</div>
