﻿
@{
    ViewBag.Title = "PostExercise";
}

<h2>PostExercise</h2>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/JSApi.js"></script>
<input type="hidden" id="ExerciseID" value="10" />
<input type="hidden" id="hidExerciseName" value="Test Exercise" />
<input type="hidden" id="Active" value="true" />

<div data-ng-app="ManageApp">
    <div data-ng-controller="ApiDataController">

       
        <table class="table table-bordered table-hover" style="width:800px">

            <tr>
                <td>Exercise Name : <input type="text" id="ExerciseName"></td>
            </tr>
            <tr>
                <td>
                    Status: <select id="selectStatus">
                        <option value="0">Select Status</option>
                        <option value="True">True</option>
                        <option value="False">False</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="Post" data-ng-click="postExerciseinit()" />
                </td>
            </tr>
        </table>
    </div>
</div>