﻿
@{
    ViewBag.Title = "PutData";
}

<h2>PutData</h2>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/JSApi.js"></script>
<div data-ng-app="ManageApp">
    <div data-ng-controller="ApiDataController">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Put Data</h3>
                <input type="hidden" value="12/12/2014" id="hiddate" />
            </div>
            <div class="row">
                <div class="col-md-11">

                    <div class="col-md-4"><label>Id </label> </div>
                    <div class="col-md-4"><input type="text" id="txtId" /> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">

                    <div class="col-md-4"><label>View </label> </div>
                    <div class="col-md-4"><input type="text" id="txtView" /> </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-11">

                    <div class="col-md-4"><label>Name </label> </div>
                    <div class="col-md-4"><input type="text" id="txtName" /> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">

                    <div class="col-md-4"><label>PlayerId </label> </div>
                    <div class="col-md-4"><input type="text" id="txtPlayerId" /> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">

                    <div class="col-md-4"><label>OrgID </label> </div>
                    <div class="col-md-4"><input type="text" id="txtOrgID" /> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">

                    <div class="col-md-4"><label>ExerciseBatchId </label> </div>
                    <div class="col-md-4"><input type="text" id="txtExerciseBatchId" /> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">

                    <div class="col-md-4"><label>ExerciseID </label> </div>
                    <div class="col-md-4"><input type="text" id="txtExerciseID" /> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">

                    <div class="col-md-4"><label>ExerciseValue </label> </div>
                    <div class="col-md-4"><input type="text" id="txtExerciseValue" /> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">

                    <div class="col-md-4"><label>OrganizationName </label> </div>
                    <div class="col-md-4"><input type="text" id="txtOrganizationName" /> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">

                    <div class="col-md-4"><label>ExerciseName </label> </div>
                    <div class="col-md-4"><input type="text" id="txtExerciseName" /> </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3"></div> <div class="col-md-4"><input type="button" value="Put Data" data-ng-click="dataPut()" /> </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>