﻿
@{
    ViewBag.Title = "PutExercise";
}

<h2>PutExercise</h2>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/JSApi.js"></script>
<div data-ng-app="ManageApp">
    <div data-ng-controller="ApiDataController">
        <div class="row">


            <div class="col-md-4"><label>  Id:</label></div><div class="col-md-4">  <input class="form-control input" type="text" id="txtId" /></div><div class="col-md-2">&nbsp;</div>
        </div>

        <div class="row">  <div class="col-md-4"> <label>Exercise Id: </label></div><div class="col-md-4">  <input class="form-control input" type="text" id="txtExId" /></div><div class="col-md-2">&nbsp;</div></div>
        <div class="row">   <div class="col-md-4"> <label>Exercisename:</label> </div> <div class="col-md-4"> <input class="form-control input" type="text" id="txtExname" /></div><div class="col-md-2">&nbsp;</div></div>
        <div class="row">
            <div class="col-md-4">  <label>Status:</label></div> <div class="col-md-4">
                <select class="form-control input" id="ddlStatus">
                    <option value="0">Select</option>
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
            </div><div class="col-md-2">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="button" value="Put Exercise" data-ng-click="putExercise()" />
            </div><div class="col-md-4">&nbsp;</div>
        </div>


    </div>
</div>
