﻿
@{
    ViewBag.Title = "PutPlayerScore";
}

<h2>PutPlayerScore</h2>
<@*link href="~/Scripts/js/Jsdate/jquery.ui.all.css" rel="stylesheet" />
<script src="~/Scripts/js/Jsdate/jquery-1.8.3.js"></script>
<script src="~/Scripts/js/Jsdate/jquery.ui.core.js"></script>
<script src="~/Scripts/js/Jsdate/jquery.ui.widget.js"></script>
<script src="~/Scripts/js/Jsdate/jquery.ui.datepicker.js"></script>
<script>
	    $(function () {
	        $("#datepicker").datepicker({
	            altFormat: "DD, d MM, yy"
	        });
	    });
</script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/JSApi.js"></script>
<div data-ng-app="ManageApp">
    <div data-ng-controller="ApiDataController">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Put Player Score</h3>
                <input type="hidden" id="txtDatetime" value="12/12/2014" />
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3">Score Id</div>
                        <div class="col-md-4"><input type="text" id="txtScoreId" /></div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3">Player Id</div>
                        <div class="col-md-4"><input type="text" id="txtPlayerId" /></div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3">OrgId </div>
                        <div class="col-md-4"><input type="text" id="txtOrgId" /></div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3">Exercise Name </div>
                        <div class="col-md-4"><input type="text" id="txtExerciseName" /></div>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3">Exercise Count </div>
                        <div class="col-md-4"><input type="text" id="txtExerciseCount" /></div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3">Exercise Side </div>
                        <div class="col-md-4"><input type="text" id="txtExerciseSide" /></div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3">Exercise Time </div>
                        <div class="col-md-4"><input type="text" id="txtExerciseTime" /></div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3">Score </div>
                        <div class="col-md-4"><input type="text" id="txtScore" /></div>
                    </div>
                </div>
            </div>
            @* <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-3">Date </div>
                            <div class="col-md-4"><input type="text" id="datepicker"></div>
                        </div>
                    </div>
                </div>*@<div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-4"><input type="text" id="datepicker"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-7"><input type="button" value="Put Player Score" data-ng-click="PutPlayerScore()" /> </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
