﻿
@{
    ViewBag.Title = "RegisterExternal";
}

<h2>RegisterExternal</h2>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/JSApi.js"></script>
<div data-ng-app="ManageApp">
    <div data-ng-controller="ApiDataController">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Register External</h3>

            </div>

            <div class="row">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-3">Email</div>
                        <div class="col-md-4">
                            <input type="text" id="txtEmail" />
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3"></div> <div class="col-md-4"><input type="button" value="Register External" data-ng-click="RegisterExternal()" /> </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
