﻿
@{
    ViewBag.Title = "RemoveLogin";
}

<h2>RemoveLogin</h2>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/JSApi.js"></script>
<div data-ng-app="ManageApp">
    <div data-ng-controller="ApiDataController">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Post Value</h3>

            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-3">LoginProvider </div>
                        <div class="col-md-4"><input type="text" id="txtLoginprovider" /></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-3">ProviderKey </div>
                        <div class="col-md-4"><input type="text" id="txtProviderKey" /></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-3"></div> <div class="col-md-4"><input type="button" value="Remove Login" data-ng-click="removeLogin()" /> </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
