﻿
@{
    ViewBag.Title = "UserInfo";
}

<h2>UserInfo</h2>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/JSApi.js"></script>
<div data-ng-app="ManageApp">
    <div data-ng-controller="ApiDataController">
        <div data-ng-init="UserInfo()"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Get User Information</h3>

            </div>
            <div class="row">
                <div class="col-md-11">

                    <div class="col-md-4"><label>Email </label></div> <div class="col-md-4">  {{UInfo.Email}}</div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-11">

                    <div class="col-md-4"><label>HasRegistered </label></div> <div class="col-md-4">   {{UInfo.HasRegistered}}</div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-11">

                    <div class="col-md-4"><label>LoginProvider </label> </div> <div class="col-md-4">  {{UInfo.LoginProvider}}</div>

                </div>
            </div>


        </div>
    </div>
</div>