﻿@using Kendo.Mvc.UI
@{
    ViewBag.Title = "ActivityReport";
}

<h2>ActivityReport</h2>

@(Html.Kendo().Grid<MVC5Project.Web.Models.ActivityReportViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.FullName).Width(120).Sortable(false);
            columns.Bound(c => c.ExerciseName).Width(90).Sortable(false);
            columns.Bound(c => c.Datetime).Width(90).Sortable(true).Format("{0:yyyy-MM-dd hh:mm:ss}");
            columns.Bound(c => c.ExcerciseValue).Width(110).Sortable(false);
        })
            .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="toolbar">
                <label class="category-label" for="category">Please Select Options:</label>
                @(Html.Kendo().DatePicker()
                .Name("datepicker1")
                .Start(CalendarView.Month)
                        .Depth(CalendarView.Month)
                .Format("dd/MM/yyyy")
                 .Value(DateTime.Now)
                 .HtmlAttributes(new { style = "width:150px" })
                )
                @(Html.Kendo().DatePicker()
                                      .Name("datepicker2")
                                .Start(CalendarView.Month)
                                .Depth(CalendarView.Month)
                        .Format("dd/MM/yyyy")
                        .Value(DateTime.Now)
                         .HtmlAttributes(new { style = "width:150px" })
                )
                <button type="button" id="FilterId" value="Filter" class="btn btn-default">Filter</button>
            </div>
        </text>);
    })
        .HtmlAttributes(new { style = "height: 380px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
            .Filterable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
                   .Model(model =>
                            {

                                model.Field(p => p.Id).Editable(false);

                                model.Field(p => p.Datetime).GetType();
                                model.Id("Id");
                            })
                    .Read(read => read.Action("ActivityReport_Read", "Team"))
        )
)
<script>
    $("#FilterId").on("click", function () {
        debugger;
        var datepicker1 = $("#datepicker1").data("kendoDatePicker").value();
        var datepicker2 = $("#datepicker2").data("kendoDatePicker").value();
       var grid = $("#grid").data("kendoGrid");
        if (datepicker1 && datepicker2) {
            var filters = [
    { field: "Datetime", operator: "gte", value: datepicker1 },
    { field: "Datetime", operator: "lte", value: datepicker2 }
            ];
            grid.dataSource.filter(filters);
        }

    });
</script>