﻿@using Kendo.Mvc.UI
@model IEnumerable<MVC5Project.Web.Models.MeasurementBatchViewModel>
@{
    ViewBag.Title = "RiskProfileModule";
}
<style>
    .demo-section {
        padding: 30px;
        width: 30%;
        float: left;
        text-align: left;
        border: 1px solid black;
        margin-top: 18px;
        height: auto;
    }

    #NewbtnId {
        margin-right: -69%;
        margin-bottom: -4%;
    }

    #clientsDb {
        width: 65%;
        float: right;
        margin-top: -6%;
    }

    #SubmitButton {
        float: right;
        margin-right: -125%;
        margin-top: -24%;
    }
</style>
<div id="ActivityProcessing" class="warning" style="display:none; height: 69px; /* background: red; */ margin-left: 493px; top: 299px; position: fixed; z-index: 99;">
    @*<img src="../Content/img/circleWait.gif" id="waitImage" />*@
    <img src="~/Content/images/circleWait.gif" />
</div>
<script type="text/x-kendo-tmpl" id="template">
    <div class="product-view k-widget">
        <h3>#:Name#</h3>
    </div>
</script>
<div class="demo-section">
    <h4>Alerts Module</h4>
    <div style="display:inline-flex;">
        <p>Filter by:</p> &nbsp;&nbsp;&nbsp;
        @(Html.Kendo().DropDownList()
                            .Name("categories2")
                            .OptionLabel("All")
                                                    .DataTextField("value")
                                            .DataValueField("Id")
                            .AutoBind(false)
                                     .HtmlAttributes(new { })
                    .Events(e => e.Change("ValuesChanged"))
                            .DataSource(ds =>
                            {
                                ds.Read("GetCombindData", "Team");
                            })
        )
    </div>

    <h4>These Players are missing measurments</h4>
    <div>
        @(Html.Kendo().ListView<MVC5Project.Web.Models.MeasurementBatchViewModel>(Model)
    .Name("listView")
    .TagName("div")
    .ClientTemplateId("template")
    .DataSource(dataSource => dataSource
        .Model(model => model.Id("Id"))
        .PageSize(4)
        .Read(read => read.Action("AlertRecord", "Team"))

    )
    .Pageable()
    .Editable()
    .Navigatable()
    .Selectable()
            .Events(e => e.DataBound("ListViewDataBound"))
        )


    </div>

</div>

<div id="clientsDb">
    <div style="margin-top: 4%;margin-bottom:-3%;">
        @using (Html.BeginForm("NewClient", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true)
            @*<div class="form-group">
                @Html.Label("Exercise", new { @class = "col-md-2 control-label" })

                <div class="col-md-4">
                    @Html.DropDownList("ExerciseID", (IEnumerable<SelectListItem>)ViewBag.Excersices, "--Select Exercise--", new { @class = "form-control" })
                  
                </div>
            </div>*@
            <span id="ExerciseIDspan" class="" style="color:#a94442;display:none;margin-right: 30%;">The Excercise field is required.</span>
          <br />
            <br />
              <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    @*<input type="button" value="Create new measurment Batch" class="btn btn-default" id="SubmitButton" />*@
                </div>
                <span id="Measurementplan" style="color:#90C140;display:none;"></span>
            </div>
        }
        @*<button type="button" id="NewbtnId" value="Measurment" class="btn btn-default">Create new measurment Batch</button>*@



    </div>
    <h3>RiskProfileModule</h3>

    @(Html.Kendo().Grid<MVC5Project.Web.Models.MeasurementBatchViewModel>()
        .Name("grid")

        .Columns(columns =>
        {
            //columns.Bound(c => c.Name).Width(140);
            // columns.Template(c => @Html.ActionLink(c.Name, "foo", new { id = c.PlayerId, }));
            @*columns.Bound(c => c.Name).Template('<a href="#=URL#">#=Title#</a>');
                columns.Bound(p => p.Name).Template(@<text>
                    @Html.ActionLink("Show Product Details", "ProductDetails", new { id = @item.PlayerId })>
                </text>);*@
            columns.Bound(p => p.Name).ClientTemplate("<a href='" + Url.Action("PlayerInfo", "Team") + "?PlayerId=#= PlayerId #'>#=Name#</a>").Width(140);
            columns.Bound(c => c.ExcerciseName).Width(100);
            columns.Bound(c => c.ExcerciseValue).Width(90);
         //   columns.Bound(c => c.View).Width(90).Filterable(false);
            columns.Bound(p => p.View).ClientTemplate("<a href='" + Url.Action("PlayerInfo", "Team") + "?PlayerId=#= PlayerId #'>#=View#</a>").Width(90);
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(160);
            //columns.Command(command => command.Custom("ViewDetails").Click("showDetails"));
        })
          .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="toolbar">
                <label class="category-label" for="category">Please Select Options:</label>
                @(Html.Kendo().DropDownList()
                            .Name("categories")
                            .OptionLabel("All")
                            .DataTextField("Datetime1")
                            .DataValueField("ExerciseBatchId")
                            .AutoBind(false)
                        //.Events(e => e.Change("categoriesChange"))
                            .DataSource(ds =>
                            {
                                ds.Read("ToolbarTemplate_Categories", "Team");
                            })
                )
                @(Html.Kendo().DropDownList()
                            .Name("Excecises")
                            .OptionLabel("All")
                                            .DataTextField("ExerciseName")
                                            .DataValueField("ExerciseID")
                            .AutoBind(false)
                        //.Events(e => e.Change("categoriesChange"))
                            .DataSource(ds =>
                            {
                                ds.Read("ToolbarTemplate_Excerise", "Team");
                            })
                )
                <button type="button" id="FilterId" value="Filter" class="btn btn-default">Filter</button>
            </div>
        </text>);
    })
                       .HtmlAttributes(new { style = "height: 380px;" })
                       .Scrollable()
                       .Groupable()
                       .Sortable()
                       .Editable(editable => editable.Mode(GridEditMode.InLine))
                       .Pageable(pageable => pageable
                       .Refresh(true)
                       .PageSizes(true)
                       .ButtonCount(5))
                       .Events(events => events.DataBound("onDataBound"))
                       .ClientDetailTemplateId("template1")
                                          .DataSource(dataSource => dataSource
                                           .Ajax()

                                           .Model(model =>
                                                                                       {

                                                                                           model.Field(p => p.Id).Editable(false);
                                                                                           model.Field(p => p.Name).Editable(false);
                                                                                           model.Field(p => p.ExcerciseName).Editable(false);
                                                                                           model.Field(p => p.View).Editable(false);
                                                                                           model.Id("Id");
                                                                                       })
                                                                                                                                                              .Read(read => read.Action("Customers_Read", "Team"))
                                                                                                                                                           .Destroy(update => update.Action("EditingPopup_Destroy", "Team"))
                                                                                                                                                          .Update(update => update.Action("EditingPopup_Update", "Team"))
                                                                                       .Events(e => e.RequestEnd("force_update"))


                                                                                                                                                                                                            )
    )

</div>
<script id="template1" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<MVC5Project.Web.Models.MeasurementBatchViewModel>()
                    .Name("grid_#=PlayerId#")
            .Columns(columns =>
            {
                columns.Bound(o => o.Name).Width(140);
                columns.Bound(o => o.ExcerciseName).Width(100);
                columns.Bound(o => o.ExcerciseValue).Width(110);
                columns.Command(command => command.Custom("ViewDetails").Click("showDetails"));
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                                .Read(read => read.Action("HierarchyBinding_Orders", "Team", new { PlayerId = "#=PlayerId#" }))
            )
            //.Pageable()
            .Sortable()
            .ToClientTemplate()
    )
</script>
@(Html.Kendo().Window().Name("Details")
    .Title("Customer Details")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(300)
)
<script type="text/x-kendo-template" id="template">
    <div id="details-container">

        <em>#= Id #</em>
        <dl>
            <dt>City: #= City #</dt>
            <dt>Address: #= Address #</dt>
        </dl>
    </div>
</script>
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function force_update(e) {
        debugger;
        if (e.type === "create") {
            $("#grid").data("kendoGrid").dataSource.read();
        }
        if (e.type === "update") {
            $("#grid").data("kendoGrid").dataSource.read();
            $("#listView").data("kendoListView").dataSource.read();
        }
        if (e.type === "destroy") {
            $("#grid").data("kendoGrid").dataSource.read();
            $("#listView").data("kendoListView").dataSource.read();
        }
    }

    $("#SubmitButton").on("click", function () {
        debugger;
        var user = 1;
                $.ajax({
                    type: "POST",
                    url: "/Team/Measurement",
                    data: {ExerciseID:1},
                    beforeSend: function () {
                        $('#ActivityProcessing').css('display', 'block');
                    },
                    success: function (data) {
                        debugger;
                        if (data.success == true) {
                            $("#Measurementplan").css("display", "block");
                            var dataBind = $("#Measurementplan").text(data.Message);
                            $('#ActivityProcessing').hide();
                            $("#grid").data("kendoGrid").dataSource.read();
                            $("#listView").data("kendoListView").dataSource.read();

                        }
                        else {
                            $("#Measurementplan").css("display", "block");
                            var dataBind = $("#Measurementplan").text(data.Message);
                            $('#ActivityProcessing').hide();
                        }
                    }
                });
            


        
    });

    function ListViewDataBound() {
        //debugger;
        var listView = $("#listView").data("kendoListView");

    }

    function ValuesChanged() {
        debugger;
        var value = this.value(),
		 	 grid = $("#listView").data("kendoListView");

        if (value) {
            var NewValues = value.split('-')
            if (NewValues[0] == "0") {
                var filter = [
 { field: "ExcerciseBatchId", operator: "eq", value: parseInt(NewValues[1]) }

                ];
                debugger;
                grid.dataSource.filter(filter);
            }
            else {
                var filter = [{ field: "ExcerciseBatchId", operator: "eq", value: parseInt(NewValues[1]) }, { field: "ExcerciseID", operator: "eq", value: parseInt(NewValues[0]) }];
                debugger;
                grid.dataSource.filter(filter);
            }
        }
        else {
            grid.dataSource.filter({});
        }
    }
    function onDataBound(e) {

        //this.expandRow(this.tbody.find("tr.k-master-row").first());
        var grid = $("#grid").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {

            if (row.ExcerciseValue == 1) {
                $('tr[data-uid="' + row.uid).css("background-color", "green");
            }
            if (row.ExcerciseValue == 2 || row.ExcerciseValue == 3) {
                $('tr[data-uid="' + row.uid).css("background-color", "yellow");
            }
            if (row.ExcerciseValue == 4) {
                $('tr[data-uid="' + row.uid).css("background-color", "red");
            }

        });

    }

    function categoriesChange() {

        var value = this.value(),
		 	 grid = $("#grid").data("kendoGrid");

        if (value) {
            grid.dataSource.filter({ field: "ExerciseBatchId", operator: "eq", value: parseInt(value) });
        } else {
            grid.dataSource.filter({});
        }
    }

    $("#FilterId").on("click", function () {
        debugger;
        var categories = $("#categories").data("kendoDropDownList").value();
        var Excecises = $("#Excecises").data("kendoDropDownList").value();
        var filter = new Array();
        if (categories) {
            filter.push({ field: "ExcerciseBatchId", operator: "eq", value: parseInt(categories) });
        }
        if (Excecises) {
            filter.push({ field: "ExcerciseID", operator: "eq", value: parseInt(Excecises) });
        }
        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.filter(filter);
        $("#grid").data("kendoGrid").dataSource.read();
        $("#listView").data("kendoListView").dataSource.read();
    
    });

    function DateBind(arg) {
        // debugger;
        var grid = $("#categories").data("kendoDropDownList");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            //debugger;
            this.Datetime = Date(row.Datetime);

        });
    }

    function showDetails(e) {
        debugger;
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var Id = dataItem.PlayerId;
        window.location = "/Team/PlayerInfo?PlayerId=" + Id;


    }
</script>
