﻿@using Kendo.Mvc.UI
@{
    ViewBag.Title = "AlertsModule";
}

<h2>AlertsModule</h2>

@(Html.Kendo().Grid<MVC5Project.Web.Models.MeasurementBatchViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Name).Width(120).Sortable(false);
           // columns.Bound(c => c.OrganizationName).Width(90).Sortable(false);
            columns.Bound(c => c.ExcerciseValue).Width(90).Sortable(true);
            //columns.Bound(c => c.Datetime).Width(110).Sortable(false).Format("{0:yyyy-MM-dd hh:mm:ss}").Filterable(f => f.UI("DateTimeFilter"));
        })

        .HtmlAttributes(new { style = "height: 380px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
            .Filterable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
                   .Model(model =>
                            {

                                model.Field(p => p.Id).Editable(false);
                                model.Field(p => p.Name).Editable(false);
                                model.Field(p => p.Datetime).GetType();
                                model.Id("Id");
                            })
                    .Read(read => read.Action("AlertRecord", "Team"))
        )
)