﻿@using Kendo.Mvc.UI
@{
    ViewBag.Title = "AtheleteProfile";
}

<h2>Athelete Profile</h2>

<div id="clientsDb">
    @(Html.Kendo().Grid<MVC5Project.Web.Models.TeamViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.PlayerFirstName).Width(140);
            columns.Bound(c => c.PlayerLastName).Width(190);
            columns.Bound(c => c.PlayerNumber);
            columns.Bound(c => c.PlayerEmailAddress).Width(110);
        })
        .HtmlAttributes(new { style = "height: 380px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Customers_Read", "Team"))
        )
    )
</div>