﻿@model MVC5Project.Web.Models.PlayerInfoViewModel
 @using Kendo.Mvc.UI
@{
    ViewBag.Title = "PlayerInfo";
}

<div id="Center_Part">
    <h4>Player Details</h4>
    @(Html.Kendo().Window()
    .Name("window")
    .Title("Player Excercise")
                       .Visible(false)
    .Draggable()
    .Resizable()
    .Width(600)
    .Actions(actions => actions.Pin().Minimize().Maximize().Close())
    .Events(ev => ev.Close("onClose"))

    )

    @*<span id="undo" style="display:block" class="k-button">Schedule Excercises For this player</span>*@

    <script>
        function onClose() {
            $("#undo").show();
        }
        function clientLaunchWindow() {
            debugger;
            var PopupWindow = $("#window").data("kendoWindow");
           // var grid = $("#Grid").data("kendoGrid");
            var url = window.location.href;
            var sjm = url.lastIndexOf("=");
            url = url.substring(sjm+1);
          
            PopupWindow.refresh({
                url: "/Team/LaunchManualProposalWindow?customerId=" + url
            });
            PopupWindow.center();
            PopupWindow.open();

        };
       
        $("#undo").bind("click", function () {
            clientLaunchWindow();
            //$("#window").data("kendoWindow").open();
            $("#undo").hide();
        });
        $(document).ready(function () {
            debugger;
            $("#undo").bind("click", function () {
                clientLaunchWindow();
                //$("#window").data("kendoWindow").open();
                $("#undo").show();
            });
        });
      


    </script>





    <div>
        @if (Model.PlayerPicture != "" && Model.PlayerPicture != null)
        {
            <img src="/uploads/PlayerImages/@Model.PlayerPicture" id="Imageid" height="100" width="100" />
        }
        else
        {
            <img src="~/uploads/picture/download.jpg" id="Imageid" height="200" width="200" />
        }
    </div>
    <div>
    </div>
        @Model.CombineName<br />
        Phone: @Model.PlayerPhoneNumber<br />
        Email: @Model.PlayerEmailAddress<br />
        DOB: @Model.DOB<br />
        player number: @Model.PlayerNumber<br />
        @Html.HiddenFor(p => p.PlayerId)
    </div>
<div id="Right_part">
    <span>
        <span id="undo" style="display:block;float:left;width:30%" class="k-button">Schedule Excercises For this player</span>
        @Html.ActionLink("Export To CSV", "TransformListIntoCsvFile", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default", @id = "btn_btn_default" })
    </span>
    @*<button type="button" id="ApproveId"  class="btn btn-default" style="padding:2px 12px">Approve</button>;*@
    @(Html.Kendo().Grid<MVC5Project.Web.Models.MeasurementBatchViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Name).Width(120).Sortable(false);
            columns.Bound(c => c.OrganizationName).Width(90).Sortable(false);
            columns.Bound(c => c.ExcerciseName).Width(100).Sortable(false);
            columns.Bound(c => c.ExcerciseValue).Width(90).Sortable(true);
            columns.Bound(c => c.Datetime).Width(110).Sortable(false).Format("{0:yyyy-MM-dd hh:mm:ss}");
        })
         .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="toolbar">
                <label class="category-label" for="category">Please Select Options:</label>
                @(Html.Kendo().DatePicker()
                .Name("datepicker1")
                .Start(CalendarView.Month)
                .Depth(CalendarView.Month)
                .Format("dd/MM/yyyy")
                .Value(DateTime.Now)
                .HtmlAttributes(new { style = "width:150px" })
                )
                @(Html.Kendo().DatePicker()
                                .Name("datepicker2")
                                .Start(CalendarView.Month)
                                .Depth(CalendarView.Month)
                                .Format("dd/MM/yyyy")
                                .Value(DateTime.Now)
                                .HtmlAttributes(new { style = "width:150px" })
                )
                <button type="button" id="FilterId" value="Filter" class="btn btn-default">Filter</button>
            </div>
        </text>);
    })
                               .HtmlAttributes(new { style = "height: 380px;" })
                               .Scrollable()
                               .Groupable()
                               .Sortable()
                               .Filterable()
                               .Pageable(pageable => pageable
                               .Refresh(true)
                               .PageSizes(true)
                               .ButtonCount(5))
                               .DataSource(dataSource => dataSource
                               .Ajax()
                               .Model(model =>
                               {
                                model.Field(p => p.Id).Editable(false);
                                model.Field(p => p.Name).Editable(false);
                                model.Field(p => p.Datetime).GetType();
                                model.Id("Id");
                                })
                              .Read(read => read.Action("DetailOfMeasuremnetByPlayerId", "Team"))
                                )
    )
</div>



    <script>
        $("#FilterId").on("click", function () {
            debugger;
            var datepicker1 = $("#datepicker1").data("kendoDatePicker").value();
            var datepicker2 = $("#datepicker2").data("kendoDatePicker").value();
            var grid = $("#grid").data("kendoGrid");
            if (datepicker1 && datepicker2) {
                var filters = [
        { field: "Datetime", operator: "gte", value: datepicker1 },
        { field: "Datetime", operator: "lte", value: datepicker2 }
                ];
                grid.dataSource.filter(filters);
            }   

        });
    </script>
